<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gvip.snrb.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.SearchNumbersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat.Light"
            android:label="@string/label_search_numbers_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SelectNumberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat.Light"
            android:label="@string/label_select_numbers_activity"
            android:parentActivityName=".activities.SearchNumbersActivity">
        </activity>

    </application>

</manifest>
